@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <br />1. Erhebung, Verarbeitung und Nutzung personenbezogener Daten
    <br />Bei einem Besuch dieser Website erheben wir keine personenbezogenen Daten von Ihnen.
    <br />Personenbezogene Daten werden nur erhoben, wenn Sie uns diese selbst über unser Kontaktformular mitteilen.
    <br />Diese Daten werden ausschliesslich zur Beantwortung Ihres Anliegens genutzt und danach wieder gelöscht.
    <br />
    <br />2. Verwendung von eigenen Cookies
    <br />Beim Aufruf bestimmter Seiten wird ein so genanntes «Session-Cookie» gesetzt. 
    <br />Hierbei handelt es sich um eine kleine Textdatei, die nach Ende der Browser-Sitzung automatisch wieder von Ihrem Computer gelöscht wird.
    <br />Diese Datei dient ausschliesslich dazu, bestimmte Applikationen nutzen zu können.
    <br />Sie können bei den meisten Webbrowsern die Einstellungen so ändern, dass Ihr Browser neue Cookies nicht akzeptiert oder Sie können erhaltenen Cookies löschen lassen. 
    <br />Wie dies konkret für Ihren Browser funktioniert, kann in der Regel über dessen Hilfe-Funktion in Erfahrung gebracht werden.
    <br />
    <br />3. Server-Log-Dateien
    <br />Wie bei jeder Verbindung mit einem Webserver protokolliert und speichert der Server unseres Webhosting-Anbieters cyon in Basel, Schweiz, bestimmte technische Daten. 
    <br />Zu diesen Daten gehören die IP-Adresse und das Betriebssystem Ihres Geräts, die Daten, die Zugriffszeit, die Art des Browsers sowie die Browser-Anfrage inklusive der Herkunft der Anfrage (Referrer). 
    <br />Dies ist aus technischen Gründen erforderlich, um Ihnen unsere Website zur Verfügung zu stellen. 
    <br />Der Webhosting-Anbieter schützt diese Daten mit technischen und organisatorischen Massnahmen vor unerlaubten Zugriffen und gibt sie nicht an Dritte weiter. 
    <br />Soweit wir dabei personenbezogene Daten verarbeiten, tun wir dies aufgrund unseres Interesses, Ihnen die bestmögliche Nutzererfahrung zu bieten und die Sicherheit und Stabilität unserer Systeme zu gewährleisten. 
    <br />4. Ihre Rechte
    <br />Ihnen stehen grundsätzlich die Rechte auf Auskunft, Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. 
    <br />Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstösst oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren.
    <br />
    <br />Sie erreichen uns unter folgenden Kontaktdaten:
    <br />Jann Salvisberg
    <br />Fliederweg 1
    <br />3315 Bätterkinden
    <br />jann.salvisberg@post.ch
</p>
